<!-- footer section-->
<footer class="footer" role="contentinfo">
    <div class="container text-center">
        <div class="row">
            <div class="col align-self-center">
                <p>
                    <script src="./js/shortbread.js"></script>
                    <a href="https://aws.amazon.com/privacy/">Privacy</a> | <a href="https://aws.amazon.com/privacy/">Site terms</a> | <a href="javascript:AWSCShortbread().customizeCookies()">Cookie preferences</a> | &copy 2020, Amazon Web Services, Inc. or its affiliates. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>

<!-- JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS, then site(custom) Js-->
    <script src="/jquery/jquery-3.4.0.min.js" type="text/javascript"></script>
    <script src="/bootstrap/js/popper.min.js" type="text/javascript"></script>
    <script src="/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/site.js" type="text/javascript"></script>

    <script type="text/javascript" src="{{"js/lunr.min.js" | relURL}}"></script>
    <script type="text/javascript" src="{{"js/auto-complete.js" | relURL}}"></script>
    <script type="text/javascript">
        var baseurl = "";
    </script>
    <script type="text/javascript" src="{{"js/search.js" | relURL}}"></script> 
    