<head>
    <!-- required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- bootstrap css -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <!-- fontawesome css -->
    <link rel="stylesheet" href="/fontawesome-5.0.13/web-fonts-with-css/css/fontawesome-all.min.css">
    <!-- site specific css -->
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="/css/auto-complete.css" />
    <title>AWS Workshops</title>
</head>