<!-- header section-->
<header role="banner" class="header">
  <div class="container">
    <div class="rowNew ">
      <div class="col-auto mr-auto">
        <img class="navbar-brand d-flex align-items-center aws-logo" src="/images/AWS_logo_RGB_REV.svg"
          alt="amazon-logo" />
        <nav class="nav spacer-inner-tb-20" role="navigation">
          <a class="nav-item   " href="/" role="link"> Home </a>
          <a class="nav-item" href="/categories/gen-ai/" role="link"> Gen AI </a>
          <a class="nav-item" href="/categories/machine-learning/" role="link"> Machine Learning </a>
          <a class="nav-item " href="/categories/observability/" role="link"> Observability </a>
          <a class="nav-item " href="/categories/containers/" role="link"> Containers</a>
          <a class="nav-item " href="/categories/devops/" role="link"> DevOps </a>
          <a class="nav-item " href="/categories/security/" role="link"> Security </a>
          <a class="nav-item " href="/categories/iac/" role="link"> IAC </a>
          <a class="nav-item " href="/categories/serverless/" role="link"> Serverless</a>
          <a class="nav-item " href="/categories/testing/" role="link"> Testing</a>
          
          <!--a class="nav-item" href="explore.html" role="link"> Explore </a-->
        </nav>
        
      </div>
      
      {{ if not .Site.Params.disableSearch }}
        {{ partial "search.html" . }}
      {{ end }}
    </div>
  </div>
  
</header>


<!-- hero image section -->
<section class="hero-image" role="banner">
  <!-- hero image container -->
  <div class="container">
    <div class="row">
      <div class="col-12 order-12 order-sm-1 col-sm-8">
        <h1 class="title-1 text-white" role="heading">Modernization Workshops</h1>
        <p class="text-md-white">
          This website is a dedicated resource for curated workshops and training Modules
          created by the teams at AWS and AWS Partners. The workshops will teach you how to
          modernize various aspects of your business and provide you with detailed insight
          into what technology will drive this change.
        </p>
      </div>
      <div class="col-12 order-1 order-sm-12 col-sm-4 text-center">
        <img src="/images/banner/AWS_icon_about.png" alt="About" class="image-icon" role="img" />
      </div>
    </div>
  </div>
</section>